Debug/
assignment_problem/Debug/
assignment_problem.VC.VC.opendb
assignment_problem.VC.db
output.txt
assignment_problem/assignment_problem.vcxproj
# assignment_problem/assignment_problem.vcxproj
.vs/
assignment_problems.VC
assignment_problem.sln